name: CI

on:
  # Must keep in sync with ci_for_skipped.yaml
  push:
    branches: [master]
    paths-ignore: ['**.md']
  pull_request:
    types: [opened, synchronize]
    paths-ignore: ['**.md']

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v3
    - uses: actions/setup-go@v4
      with:
        go-version-file: go.mod
    - name: Ensure go.mod is already tidied
      run: go mod tidy && git diff -s --exit-code go.sum
    - name: Run verify-readme
      run: make verify-readme
    - name: Run tests
      run: make test
    - name: Build binary
      run: make build
    - name: Make dist file
      run: make dist
    - name: Validate a krew plugin manifest file
      run: make validate-krew-manifest
